* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.container {
    height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.container button {
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    height: 100px;
    width: 200px;
}
